<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<p>ISBN: <%= @book.isbn %></p>

<% if @book.borrowings.exists? %>
  <p><strong>This book is currently borrowed.</strong></p>
<% else %>
  <%= form_with url: borrowings_path(book_id: @book.id), method: :post, local: true do |form| %>
    <div class="mb-3">
      <%= form.submit "Borrow this Book", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>


